In [ ]:
# task 1
class Customer():
  def __init__(self,name):
    self.name=name
  def greet(self,name=None):
    if name==None :
      print('Hello!')
    else:
      print('Hello!',name)
  def purchase(self,*prod):
    print(f'''{self.name}, you purchased {len(prod)} item(s): ''')
    for i in prod :
      print(i)

customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam, you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello! David
David, you purchased 1 item(s):
orange juice

In [ ]:
# task 2
class Panda():
  def __init__(self,name,gender,year):
    self.name=name
    self.gender=gender
    self.age=year
  def sleep(self,time=0):
    ans=f'{self.name} sleeps {time} hours daily and should have'
    if time>=3 and time <=5:
      return ans+' Mixed Veggies'
    elif time>=6 and time <=8:
      return ans+' Eggplant & Tofu'
    elif time>=9 and time <=11:
      return ans+' Broccoli Chicken'
    else:
      return f"{self.name}'s duration is unknown thus should have only bamboo leaves"




panda1 = Panda("Kunfu","Male", 5)
panda2=Panda("Pan Pan","Female",3)
panda3=Panda("Ming Ming","Female",8)
print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))
print("{} is a {} Panda Bear who is {} yearsold".format(panda2.name,panda2.gender,panda2.age))
print("{} is a {} Panda Bear who is {} yearsold".format(panda3.name,panda3.gender,panda3.age))
print("===========================")
print(panda2.sleep(10))
print(panda1.sleep(4))
print(panda3.sleep())

Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 yearsold
Ming Ming is a Female Panda Bear who is 8 yearsold
===========================
Pan Pan sleeps 10 hours daily and should have Broccoli Chicken
Kunfu sleeps 4 hours daily and should have Mixed Veggies
Ming Ming's duration is unknown thus should have only bamboo leaves

In [ ]:
# task 3
class Cat():
  def __init__(self,color='White',act='sitting'):
    self.color=color
    self.act=act
  def changeColor(self,color):
    self.color=color
  def printCat(self):
    print(f'{self.color} cat is {self.act}')
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Blue cat is sitting
Purple cat is jumping

In [ ]:
# task 4
class Student:
    def __init__(self,name='default student'):
        self.name=name
    def quizcalc(self,*mark):
        self.total=0
        for i in mark:
            self.total+=i
        self.avarage=self.total/3
    def printdetail(self):
        if self.name !=None:
            print('Hello',self.name)
        else:
            print('Hello default student')
        print('Your average quiz score is',self.avarage)
        
        

s1 = Student()
s1.quizcalc(10)
print('--------------------------------')
s1.printdetail()
s2 = Student('Harry')
s2.quizcalc(10,8)
print('--------------------------------')
s2.printdetail()
s3 = Student('Hermione')
s3.quizcalc(10,9,10)
print('--------------------------------')
s3.printdetail()

--------------------------------
Hello default student
Your average quiz score is 3.3333333333333335
--------------------------------
Hello Harry
Your average quiz score is 6.0
--------------------------------
Hello Hermione
Your average quiz score is 9.666666666666666

In [ ]:
#task 5
class Student():
  def __init__(self,name,id,dep='CSE'):
    self.name=name
    self.id =id 
    self.dep=dep
  def dailyEffort(self,time):
    self.time=time
  def printDetails(self):
    ans=f'''Name: {self.name}
ID: {self.id}
Department: {self.dep}
Daily Effort: {self.time} hour(s)
Suggestion:'''
    if self.time<= 2:
      print(ans,'Should give more effort!')
    elif self.time<= 4:
      print(ans,'Keep up the good work!')
    else:
      print(ans,'Excellent! Now motivate others.')
harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

Name: Harry Potter
ID: 123
Department: CSE
Daily Effort: 3 hour(s)
Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Should give more effort!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Excellent! Now motivate others.

In [ ]:
#task 6
class Patient():
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def add_Symptom(self,*syn):
    self.syn=syn
    
  def printPatientDetail(self):
    print(f'''Name: {self.name}
Age: {self.age}
Symptoms:{str(self.syn)[1:-1]}''')


p1 = Patient('Thomas', 23)
p1.add_Symptom('Headache')
p2 = Patient('Carol', 20)
p2.add_Symptom('Vomiting', 'Coughing')
p3 = Patient('Mike', 25)
p3.add_Symptom('Fever', 'Headache', 'Coughing')
print("=========================")
p1.printPatientDetail()
print("=========================")
p2.printPatientDetail()
print("=========================")
p3.printPatientDetail()

=========================
Name: Thomas
Age: 23
Symptoms:'Headache',
=========================
Name: Carol
Age: 20
Symptoms:'Vomiting', 'Coughing'
=========================
Name: Mike
Age: 25
Symptoms:'Fever', 'Headache', 'Coughing'

In [ ]:
# task 7
class Match():
  def __init__(self,match):
    self.name=match
    self.over=0
    self.run=0
    self.wicket=0
    print('5..4..3..2..1.. Play !!!')
  def add_run(self,run):
    self.run+=run
  def add_over(self,over):
    temp=self.over+over
    if temp<=5:
      self.over+=over
    else :
      print('Warning! Cannot add 5 over/s (5 over match)')

  def add_wicket(self,wicket):
    self.wicket+=wicket
  def print_scoreboard(self):
    self.team=self.name.split('-')
    return f'''Batting Team: {self.team[0]}
Bowling Team: {self.team[1]}
Total Runs: {self.run} Wickets: {self.wicket} Overs: {self.over}'''

match1 = Match("Rangpur Riders-Cumilla Victorians")
print("=========================")
match1.add_run(4)
match1.add_run(6)
match1.add_over(1)
print(match1.print_scoreboard())
print("=========================")
match1.add_over(5)
print("=========================")
match1.add_wicket(1)
print(match1.print_scoreboard())

5..4..3..2..1.. Play !!!
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 10 Wickets: 0 Overs: 1
=========================
Warning! Cannot add 5 over/s (5 over match)
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 10 Wickets: 1 Overs: 1

In [ ]:
#task 8
class ParcelKoro():
  def __init__(self,name='No name set',Weight=0):
    self.name=name
    self.product_weight=Weight
  def calculateFee(self,loc=None):
    if self.product_weight==0:
      self.total_fee = 0
    elif loc==None:
      self.total_fee = (self.product_weight * 20) + 50
    else:
      self.total_fee = (self.product_weight * 20) + 100
  def printDetails(self):
    print(f'''Customer Name: {self.name}
Product Weight: {self.product_weight}
Total fee: {self.total_fee}''')



print("**********************")
p1 = ParcelKoro()
p1.calculateFee()
p1.printDetails()
print("**********************")
p2 = ParcelKoro('Bob The Builder')
p2.calculateFee()
p2.printDetails()
print("----------------------------")
p2.product_weight = 15
p2.calculateFee()
p2.printDetails()
print("**********************")
p3 = ParcelKoro('Dora The Explorer', 10)
p3.calculateFee('Dhanmondi')
p3.printDetails()

**********************
Customer Name: No name set
Product Weight: 0
Total fee: 0
**********************
Customer Name: Bob The Builder
Product Weight: 0
Total fee: 0
----------------------------
Customer Name: Bob The Builder
Product Weight: 15
Total fee: 350
**********************
Customer Name: Dora The Explorer
Product Weight: 10
Total fee: 300

In [ ]:
#task 9
class Batsman():
  def __init__(self,name=0,run=0,ball=0):
    if type(name)==str:
      self.name=name
      self.run=run
      self.ball=ball
    else:
      self.name='New Batsman'
      self.run=name
      self.ball=run
  def setName(self,name):
    self.name=name
  def battingStrikeRate(self):
    self.rate=self.run / self.ball * 100
    return self.rate
  def printCareerStatistics(self):
    print(f'''Name: {self.name}
Runs Scored: {self.run} , Balls Faced: {self.ball}''')

b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das", 678, 773)
b2.printCareerStatistics()
print("----------------------------")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("----------------------------")
print(b1.battingStrikeRate())

Name: New Batsman
Runs Scored: 6101 , Balls Faced: 7380
============================
Name: Liton Das
Runs Scored: 678 , Balls Faced: 773
----------------------------
87.71021992238033
============================
Name: Shakib Al Hasan
Runs Scored: 6101 , Balls Faced: 7380
----------------------------
82.66937669376694

In [ ]:
#task 10
class EPL_Team():
  def __init__(self,name,slogan='No Slogan'):
    self.name=name
    self.slogan=slogan
    self.tittle=0
  def changeSong(self,slogan):
    self.slogan=slogan
  def increaseTitle(self):
    self.tittle+=1
  def showClubInfo(self):
    return f'''Name: {self.name}
Song: {self.slogan}
Total No of title: {self.tittle}'''


manu = EPL_Team('Manchester United', 'Glory Glory Man United')
chelsea = EPL_Team('Chelsea')
print('===================')
print(manu.showClubInfo())
print('##################')
manu.increaseTitle()
print(manu.showClubInfo())
print('===================')
print(chelsea.showClubInfo())
chelsea.changeSong('Keep the blue flag flying high')
print(chelsea.showClubInfo())

===================
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 0
##################
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 1
===================
Name: Chelsea
Song: No Slogan
Total No of title: 0
Name: Chelsea
Song: Keep the blue flag flying high
Total No of title: 0

In [ ]:
# task 11
class Author():
  def __init__(self,name='Default',*books):
    self.name=name
    self.books=books
  def addBooks(self,*books):
    self.books=books
  def changeName(self,name):
    self.name=name
  def printDetails(self):
    print('Author Name:', self.name)
    print('--------')
    print('List of Books: ')
    for i in self.books:
      print(i)


auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print('===================')
auth2 = Author()
print(auth2.name)
auth2.changeName('Mario Puzo')
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print('===================')
auth2.printDetails()
print('===================')
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

Author Name: Humayun Ahmed
--------
List of Books:
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
--------
List of Books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
--------
List of Books:
The Alchemist
The Fifth Mountain

In [ ]:
#task 12
class TaxiLagbe():
  def __init__(self,texi_no,area):
    self.texi_no=texi_no
    self.area=area
    self.dic={}
  def addPassenger(self,*man):
    if len(self.dic)<4:
      self.man=man
      for i in man:
        split=i.split('_')
        print(f'Dear {split[0]}! Welcome to TaxiLagbe.')
        temp={split[0]:split[1]}
        self.dic.update(temp)
    else:
      print('Taxi Full! No more passengers can be added.')
    
  def printDetails(self):
    print(f'''Trip info for Taxi number: {self.texi_no}
This taxi can cover only {self.area} area.
Total passengers: {len(self.dic)}
Passenger lists:''')
    for i in self.dic:
       print(i,end=',')
    print()
    total=0
    for i in self.dic:
      total+= int(self.dic[i])
    print('Total collected fare:',total,'Taka' )

taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker,Wood,Matt,Wilson,
Total collected fare: 505 Taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker,Wood,Matt,Wilson,
Total collected fare: 505 Taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passenger lists:
Ronald,Parker,
Total collected fare: 330 Taka

In [ ]:
# task 13
class Account():
  def __init__(self,name='Default Account',balance=0.0):
    self.name=name
    self.balance=balance
  def details(self):
    return (f'''{self.name}
{self.balance}''')
  def withdraw(self,money):
    if (self.balance-money)<=3070.0:
      print('Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.')
    else:
      print('Withdraw successful! New balance is:',(self.balance-money))


a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

Default Account
0.0
------------------------
Oliver
10000.0
------------------------
Liam
0.0
------------------------
Noah
400
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is: 3071.0

In [ ]:
#task 14
class StudentDatabase():
  def __init__(self,name,id):
    self.name=name
    self.id=id
    self.grades={}
    
  def calculateGPA(self,courses,semister):
    self.courses=courses
    self.semister=semister
    self.course_list=[]
    self.gpa=0.0
    for i in courses:
      split=i.split(': ')
      self.course_list.append(split[0])
      self.gpa+=float(split[1])
    self.cgpa=self.gpa/len(self.course_list)
    self.grade={tuple(self.course_list):round(self.cgpa, 2) }
    self.temp_grades={self.semister:self.grade}
    self.grades.update(self.temp_grades)

    
    
  def printDetails(self):
    print(f'''Name: {self.name}
ID: {self.id}''')
    for semister in self.grades:
      print('Courses taken in',semister+':')
      for courses in self.grades[semister]:
        for course in courses:
          print(course)
        print('GPA:',self.grades[semister][courses])
   
    


s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'],
'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'],
'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0}, 'Summer2021': {('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name: Pietro
ID: 10101222
Courses taken in Summer2020:
CSE230
CSE220
MAT110
GPA: 4.0
Courses taken in Summer2021:
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8}}
------------------------------------------------------
Name: Wanda
ID: 10103332
Courses taken in Summer2022:
CSE111
CSE260
ENG101
GPA: 3.8

In [ ]:
#ungraded
#task 20
# task 20
class Student:
    def __init__(self,name=None,dpt=None):
        self.name=name
        self.dpt=dpt
        self.course=[]
        if self.name == None and self.dpt==None:
            print('Student name and department need to be set')
        elif self.name !=None and self.dpt==None:
            print('Department for',self.name,'needs to be set')
        elif self.name!=None and self.dpt !=None:
            print(f'{self.name} is from {self.dpt} department')
    def update_name(self,new_n):
        self.name=new_n
    def update_department(self,new_dpt):
        self.dpt=new_dpt
    def enroll(self,*crs):
        self.crs=list(crs)
        self.course.extend(crs)
    def printDetail(self):
        print('Name:',self.name)
        print('Department:',self.dpt)
        print(f'{self.name} enrolled in {len(self.course)} course(s):')
        for i in range(len(self.course)):
            if i != len(self.course)-1:
                print(self.course[i],end=',')
            else:
                print(self.course[i])
        
s1 = Student()
print("=========================")
s2 = Student("Carol")
print("=========================")
s3 = Student("Jon", "EEE")
print("=========================")
s1.update_name("Bob")
s1.update_department("CSE")
s2.update_department("BBA")
s1.enroll("CSE110", "MAT110", "ENG091")
s2.enroll("BUS101")
s3.enroll("MAT110", "PHY111")
print("###########################")
s1.printDetail()
print("=========================")
s2.printDetail()
print("=========================")
s3.printDetail()

Student name and department need to be set
=========================
Department for Carol needs to be set
=========================
Jon is from EEE department
=========================
###########################
Name: Bob
Department: CSE
Bob enrolled in 3 course(s):
CSE110,MAT110,ENG091
=========================
Name: Carol
Department: BBA
Carol enrolled in 1 course(s):
BUS101
=========================
Name: Jon
Department: EEE
Jon enrolled in 2 course(s):
MAT110,PHY111

In [ ]:
#task 24